.container {
  display: flex;
  overflow: hidden;
}

.detailimage {
  width: 60%;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
}
.imageThumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.detailsummary {
  width: 40%;
}
